@charset "utf-8";

body {
    background-color: purple;
    color: aliceblue;
    margin: 3%;
}

footer {
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    width: 100%;
    background-color: black;
}

section {
    background-color: black;
    padding: 3%;
    border: 2px royalblue;
}